// @media screen and (min-width: 768px)
.container {
	display: flex;
	color: #9ca3af;
	gap: 1rem;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -15px;
}
.icon {
	width: 12px;
	filter: invert(1);
}
