// @media screen and (min-width: 768px)
.container {
	filter: invert(1);
	opacity: 0.5;
	display: grid;
	grid-template-columns: repeat(2, 190px);
	width: 100%;
	padding-top: 2rem;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 2.4rem;
	margin-bottom: 5rem;
}
.amazon {
	position: relative;
	left: 120px;
}

.container::after {
	content: '';
	position: absolute;
	width: 85%;
	height: 0.5px;
	background-color: gray;
	right: 60px;
	bottom: -25px;
}
