// @media screen and (min-width: 768px)
.container {
	color: white;
	width: 95%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.title {
	font-size: 2rem;
}
.text {
	font-size: 1.15rem;
	color: #9ca3af;
	line-height: 1.8rem;
}
